<?xml version="1.0"?>
<!--
/**
 * @author Vitaliy Boyko <vitaliyboyko@i.ua>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="VitaliyBoyko_ContactUsHistory::note"
             title="Contact form notes"
             translate="title"
             module="VitaliyBoyko_ContactUsHistory"
             sortOrder="110"
             parent="Magento_Backend::marketing_communications"
             action="contactus/index/index"
             resource="VitaliyBoyko_ContactUsHistory::source"/>
    </menu>
</config>